! Example input file

! Soft-core Coulomb parameters
sc_coulomb_depth = 10.0
sc_coulomb_offset = 1.0
sc_coulomb_x0 = 20.0
sc_coulomb_y0 = -20.0

! Gobbler potential parameters
gobbler_width_x = 10.0
gobbler_width_y = 10.0
gobbler_strength_x = 10.0
gobbler_strength_y = 10.0

! Sin^2 ramped pulse parameters
pulse_t_ramp = 1.0
pulse_t_plateau = 1.0
pulse_intensity = 0.0
pulse_omega = 0.0
pulse_phi = 0.0

! Gaussian parameters
p0_x = 4.5
p0_y = 5.5
x0 = 0.0
y0 = 0.0
sig_x = 5.0
sig_y = 5.0

! Spatial grid parameters
x_min = -50.0
x_max = 50.0
nx = 2000

y_min = -50.0
y_max = 50.0
ny = 2000

! Temporal grid parameters
t_min = 0.0
t_max = 10.0
nt = 250

! Minimum imaginary time iterations
min_iter_itime = 50

! Virtual detector grid parameters
! # of points outside interaction region
! nxl_external = 350
! nxr_external = 350
! nyl_external = 350
! nyr_external = 350

nxl_external = 700
nxr_external = 700
nyl_external = 700
nyr_external = 700

! # of virtual detector points
nxl_vd = 1
nxr_vd = 1
nyl_vd = 1
nyr_vd = 1

! Virtual detector binning parameters
vd_px_min = 0.0
vd_px_max = 10.0
vd_npx = 250

vd_py_min = 0.0
vd_py_max = 10.0
vd_npy = 250

! Semiclassical VD binning
vd_semi_classical = False

! VD flux threshold
vd_j_eps = 1.0e-4

! ONLY used in quantum VD binning
! Number of standard deviations to include in binning
vd_np_stdev = 4

! Disjoint VD switch
vd_disjoint = True

! Residual analysis parameters
resid_p_eps = 1.0E-4

! Output parameters
output_dir = ./output/
log_fname = run.log
vd_p_fname = vd_px.dat
psi_ground_fname = psi_ground.dat

print_mod_x = 10
print_mod_y = 10
print_mod_t = 10
